# Chapter4 - Example 1

![image](https://github.com/kks00/data-science/assets/68108664/6013ddb0-5f01-4f7b-b582-aa932714d3ac)

---

# CSV 파일 읽어 테이블 생성

In [1]:
import numpy as np
from datascience import *

In [39]:
table = Table.read_table('csv/minard.csv')
table

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

---

# 생존율 컬럼을 포함한 테이블 생성

In [29]:
survivors = table.column('Survivors')
init_survivor = survivors[0]

alive_rate = survivors / init_survivor

table_with_alive_rate = table.with_columns('생존율', alive_rate).set_format('생존율', PercentFormatter)
table_with_alive_rate

Longitude | Latitude | City        | Direction | Survivors | 생존율
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%

---

# 감소율 컬럼을 포함한 테이블 생성

In [54]:
alive_rate = table_with_alive_rate.column('생존율')
decrease_rate = np.diff(alive_rate) # 인접 원소와의 차이를 보여줌, 가장 앞 원소 제외한 결과
decrease_rate = np.array([0] + list(decrease_rate)) # 맨 앞 감소율 0으로 설정

table_with_decrease_rate = table_with_alive_rate.with_columns("감소율", decrease_rate).set_format("감소율", PercentFormatter)
table_with_decrease_rate

Longitude | Latitude | City        | Direction | Survivors | 생존율     | 감소율
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00% | 0.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%  | -3.45%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%  | -8.90%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%  | -18.69%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%  | -31.03%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%  | -21.38%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%  | -2.76%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%   | -5.52%

---

# 가장 많은 감소가 발생한 도시

In [60]:
city_index = table_with_decrease_rate.column("감소율").argmin() # 축에서 가장 적은 값의 인덱스 반환
city_index

4

In [61]:
table_with_decrease_rate.column("City")[city_index]

'Wixma'