In [22]:
from datascience import *
import numpy as np

- ### Table().with_columns('label', array, 'label', array, ...)
    - #### 레이블이 지정된 열을 테이블에 추가
    - #### 모든 열의 길이가 똑같아야 한다.

In [2]:
Table().with_columns('Numbers', make_array(1, 2, 3))

Numbers
1
2
3

- ### make_array()
    - #### numpy array를 만드는 함수

In [3]:
make_array(1, 2, 3)

array([1, 2, 3], dtype=int64)

- ### Table.read_table(URL, 파일 경로)
    - #### csv 읽어서 테이블로 변환

In [4]:
table = Table.read_table("https://inferentialthinking.com/data/sat2014.csv")
table

State        | Participation Rate | Critical Reading | Math | Writing | Combined
North Dakota | 2.3                | 612              | 620  | 584     | 1816
Illinois     | 4.6                | 599              | 616  | 587     | 1802
Iowa         | 3.1                | 605              | 611  | 578     | 1794
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782
Missouri     | 4.2                | 595              | 597  | 579     | 1771
Wyoming      | 3.3                | 590              | 599  | 573     | 1762
Kansas       | 5.3                | 591              | 596  | 566     | 1753
... (41 rows omitted)

---

- ### Table.num_columns: 열의 수
- ### Table.num_rows: 행의 수

<br>

- ### Table.labels: 모든 Label 열거

<br>

- ### Table.relabeled(이전 레이블, 변경할 레이블)

In [8]:
print("labels: ", table.labels)

print("num_columns: ", table.num_columns)
print("num_rows: ", table.num_rows)

labels:  ('State', 'Participation Rate', 'Critical Reading', 'Math', 'Writing', 'Combined')
num_columns:  6
num_rows:  51

---

- ### Table.column(label)
    - #### 한 열의 데이터를 배열로 반환

In [9]:
table.column("State")

array(['North Dakota', 'Illinois', 'Iowa', 'South Dakota', 'Minnesota',
       'Michigan', 'Wisconsin', 'Missouri', 'Wyoming', 'Kansas',
       'Kentucky', 'Nebraska', 'Colorado', 'Mississippi', 'Tennessee',
       'Arkansas', 'Oklahoma', 'Utah', 'Louisiana', 'Ohio', 'Montana',
       'Alabama', 'New Mexico', 'New Hampshire', 'Massachusetts',
       'Vermont', 'Arizona', 'Oregon', 'Virginia', 'New Jersey',
       'Connecticut', 'West Virginia', 'Washington', 'California',
       'Alaska', 'North Carolina', 'Pennsylvania', 'Rhode Island',
       'Indiana', 'Maryland', 'New York', 'Hawaii', 'Nevada', 'Florida',
       'Georgia', 'South Carolina', 'Texas', 'Maine', 'Idaho', 'Delaware',
       'District of Columbia'],
      dtype='<U20')

---

- ### Table.select(column)
    - #### 선택한 column만 포함하는 새 테이블 생성

In [14]:
table.select("State")

State
North Dakota
Illinois
Iowa
South Dakota
Minnesota
Michigan
Wisconsin
Missouri
Wyoming
Kansas
... (41 rows omitted)

- ### Table.drop(column)
    - #### 지정 label 제외한 새 Table 생성

In [16]:
table.drop(["Combined", "Write"])

State        | Participation Rate | Critical Reading | Math | Writing
North Dakota | 2.3                | 612              | 620  | 584
Illinois     | 4.6                | 599              | 616  | 587
Iowa         | 3.1                | 605              | 611  | 578
South Dakota | 2.9                | 604              | 609  | 579
Minnesota    | 5.9                | 598              | 610  | 578
Michigan     | 3.8                | 593              | 610  | 581
Wisconsin    | 3.9                | 596              | 608  | 578
Missouri     | 4.2                | 595              | 597  | 579
Wyoming      | 3.3                | 590              | 599  | 573
Kansas       | 5.3                | 591              | 596  | 566
... (41 rows omitted)

---

- ### Table.set_format(column, formatter)
    - #### 서식 변환
    - #### Formatter
        - #### PercentFormatter
        - #### DateFormatter
        - #### CurrencyFormatter

In [12]:
table.with_column("Percent Math", table.column("Math") / 800).set_format("Percent Math", PercentFormatter)

State        | Participation Rate | Critical Reading | Math | Writing | Combined | Percent Math
North Dakota | 2.3                | 612              | 620  | 584     | 1816     | 77.50%
Illinois     | 4.6                | 599              | 616  | 587     | 1802     | 77.00%
Iowa         | 3.1                | 605              | 611  | 578     | 1794     | 76.38%
South Dakota | 2.9                | 604              | 609  | 579     | 1792     | 76.12%
Minnesota    | 5.9                | 598              | 610  | 578     | 1786     | 76.25%
Michigan     | 3.8                | 593              | 610  | 581     | 1784     | 76.25%
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782     | 76.00%
Missouri     | 4.2                | 595              | 597  | 579     | 1771     | 74.62%
Wyoming      | 3.3                | 590              | 599  | 573     | 1762     | 74.88%
Kansas       | 5.3                | 591              | 596  | 566     | 1753     | 74.50%
... (41 rows omitted)

---

- ### Table.show(max_rows)
    - #### max_rows까지 행 표시
    - #### max_rows 생략하면 모든 행 표시

In [17]:
table.show(5)

---

- ### Table.sort(column, descending)

In [19]:
table.sort("Participation Rate", descending=True)

State                | Participation Rate | Critical Reading | Math | Writing | Combined
Idaho                | 100                | 458              | 456  | 450     | 1364
Delaware             | 100                | 456              | 459  | 444     | 1359
District of Columbia | 100                | 440              | 438  | 431     | 1309
Maine                | 95.6               | 467              | 471  | 449     | 1387
Connecticut          | 88.4               | 507              | 510  | 508     | 1525
Massachusetts        | 84.1               | 516              | 531  | 509     | 1556
New Jersey           | 79.3               | 501              | 523  | 502     | 1526
Maryland             | 78.5               | 492              | 495  | 481     | 1468
Georgia              | 77.2               | 488              | 485  | 472     | 1445
New York             | 76.3               | 488              | 502  | 478     | 1468
... (41 rows omitted)

---

- ### Table.take(row index)
    - #### 지정 행만 가져오기

In [24]:
table.take(np.arange(3, 6))

State        | Participation Rate | Critical Reading | Math | Writing | Combined
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784

---

- ### Table.where(column, are.condition)
    - #### 특정 조건에 일치하는 행 추출

- #### are.condition

| 함수 | 설명 |
|---|---|
| are.equal_to(x) | n = x |
| are.not_equal_to(x) | n != x |
| | |
| are.above(x) | n > x |
| are.not_above(x) | n <= x |
| are.above_or_equal_to(x) | n >= x |
| | |
| are.below(x) | n < x |
| are.below_or_equal_to(x) | n <= x |
| | |
| are.between(x, y) | x <= n < y |
| are.strictly_between(x, y) | x < n < y |
| are.between_or_equal_to(x, y) | x <= n <= y |
| | |
| are.containing(S) | 문자열 S 포함 |

In [28]:
table.where("Participation Rate", are.above(4))

State     | Participation Rate | Critical Reading | Math | Writing | Combined
Illinois  | 4.6                | 599              | 616  | 587     | 1802
Minnesota | 5.9                | 598              | 610  | 578     | 1786
Missouri  | 4.2                | 595              | 597  | 579     | 1771
Kansas    | 5.3                | 591              | 596  | 566     | 1753
Kentucky  | 4.6                | 589              | 585  | 572     | 1746
Colorado  | 14.3               | 582              | 586  | 567     | 1735
Tennessee | 7.9                | 578              | 570  | 566     | 1714
Arkansas  | 4.2                | 573              | 571  | 554     | 1698
Oklahoma  | 4.5                | 576              | 571  | 550     | 1697
Utah      | 5.2                | 571              | 568  | 551     | 1690
... (33 rows omitted)

---